body {
  background:#353d4d;
  font-family: 'Trocchi', serif;
}
.container {
  width:960px;
  margin:0 auto;
}
.message {
  display:block;
  margin:0 auto;
  text-align: center;
}
input[type="text"] {
  background-color:transparent;
  border:none;
  color:#595f6c;
  font-size:1.5em;
  padding:0.5em 1em;
  display:inline-block;
  margin:1em;
  text-align: center;
  font-family: 'Trocchi', serif;
  border-bottom:1px dotted #595f6c;
}
input[type="text"]:focus {
  border:none;
  outline-width: 0;
  outline:none;
  border-bottom:1px dotted #595f6c;
}
header {
  padding:2em 0;
  margin-bottom: 1em;
}
h1.logo {
  text-transform: uppercase;
  font-size: 0.8em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
h1{
  color:#fff;
  text-align: center;
  margin:0 auto;
  font-size:6em;
}
.top {
  margin-top: 1em;
}

::-webkit-input-placeholder {
   color: #595f6c;
}
:-moz-placeholder { /* Firefox 18- */
   color: #595f6c;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #595f6c;  
}
:-ms-input-placeholder {  
   color: #595f6c;  
}
